### Import CSV

In [20]:
import pandas as pd

In [21]:
url="https://ballotpedia.org/Gasoline_costs_by_state,_2018"

In [22]:
gas_table=pd.read_html(url)
main_table=gas_table[1]
main_table

   Average gasoline prices by state, July 25, 2018  \
                                             State
0                                          Alabama
1                                           Alaska
2                                          Arizona
3                                         Arkansas
4                                       California
5                                         Colorado
6                                      Connecticut
7                                         Delaware
8                             District of Columbia
9                                          Florida
10                                         Georgia
11                                          Hawaii
12                                           Idaho
13                                        Illinois
14                                         Indiana
15                                            Iowa
16                                          Kansas
17                                        Kentucky
18                                       Louisiana
19                                           Maine
20                                        Maryland
21                                   Massachusetts
22                                        Michigan
23                                       Minnesota
24                                     Mississippi
25                                        Missouri
26                                         Montana
27                                        Nebraska
28                                          Nevada
29                                   New Hampshire
30                                      New Jersey
31                                      New Mexico
32                                        New York
33                                  North Carolina
34                                    North Dakota
35                                            Ohio
36                                        Oklahoma
37                                          Oregon
38                                    Pennsylvania
39                                    Rhode Island
40                                  South Carolina
41                                    South Dakota
42                                       Tennessee
43                                           Texas
44                                            Utah
45                                         Vermont
46                                        Virginia
47                                      Washington
48                                   West Virginia
49                                       Wisconsin
50                                         Wyoming


   Average gasoline price per gallon Unnamed: 2_level_1
0                              $2.54                NaN
1                              $3.38                NaN
2                              $2.93                NaN
3                              $2.58                NaN
4                              $3.63                NaN
5                              $2.81                NaN
6                              $3.07                NaN
7                              $2.78                NaN
8                              $3.02                NaN
9                              $2.74                NaN
10                             $2.70                NaN
11                             $3.78                NaN
12                             $3.11                NaN
13                             $2.91                NaN
14                             $2.93                NaN
15                             $2.71                NaN
16                             $2.66                NaN
17                             $2.72                NaN
18                             $2.59                NaN
19                             $2.84                NaN
20                             $2.82                NaN
21                             $2.89                NaN
22                             $2.94                NaN
23                             $2.76                NaN
24                             $2.55                NaN
25                             $2.62                NaN
26                             $2.94                NaN
27                             $2.73                NaN
28                             $3.20                NaN
29                             $2.80                NaN
30                             $2.89                NaN
31                             $2.77                NaN
32                             $3.00                NaN
33                             $2.67                NaN
34                             $2.85                NaN
35                             $2.74                NaN
36                             $2.62                NaN
37                             $3.29                NaN
38                             $3.03                NaN
39                             $2.90                NaN
40                             $2.54                NaN
41                             $2.88                NaN
42                             $2.61                NaN
43                             $2.63                NaN
44                             $3.10                NaN
45                             $2.90                NaN
46                             $2.60                NaN
47                             $3.41                NaN
48                             $2.84                NaN
49                             $2.79                NaN
50                             $2.95                NaN