In [16]:
import pandas as pd
import datetime

In [3]:
cars = "../Resources/vehicles.csv"

In [4]:
vehicles_df = pd.read_csv(cars)
vehicles_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539754,7076296329,https://syracuse.craigslist.org/cto/d/mottvill...,syracuse,https://syracuse.craigslist.org,7950,2008.0,rover,NaN,excellent,8 cylinders,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_86RgcbSIhT...,Selling my 2008 Range Rover - it's an extra ve...,NaN,ny,42.9506,-76.4254
539755,7088752165,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,13995,2016.0,nissan,frontier,NaN,NaN,...,4wd,NaN,pickup,silver,https://images.craigslist.org/00R0R_2FiHQj8mDm...,2016 Nissan Frontier SV V6 4x4 4dr King Cab 6....,NaN,nc,35.7636,-78.7443
539756,7088749883,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10995,2010.0,bmw,335i,NaN,NaN,...,NaN,compact,coupe,black,https://images.craigslist.org/00v0v_3sp1G5hNhk...,2010 BMW 3 Series 335i 2dr Coupe Offered b...,NaN,nc,35.7636,-78.7443
539757,7088747986,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,6495,2015.0,dodge,dart,NaN,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00101_6orUUSDpdh...,2015 Dodge Dart SE 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
539758,7082122917,https://stcloud.craigslist.org/ctd/d/wadena-20...,st cloud,https://stcloud.craigslist.org,8990,2008.0,gmc,acadia,NaN,NaN,...,NaN,NaN,SUV,white,https://images.craigslist.org/00t0t_2ulWVUHDZW...,08 GMC Acadia all wheel drive four doorCall ☏ ...,NaN,mn,46.4500,-95.1247

In [11]:
test=vehicles_df[vehicles_df['manufacturer'].notna()]
price_fix=vehicles_df[vehicles_df['price'] > 0]
new_df=price_fix[price_fix['model'].notna()]
new_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458
5,7088741557,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,12995,2015.0,kia,sportage,NaN,NaN,...,4wd,NaN,wagon,NaN,https://images.craigslist.org/00000_2qdQpZA2hK...,2015 Kia Sportage EX AWD 4dr SUV Offered b...,NaN,nc,35.7636,-78.7443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539753,7088754084,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,12955,2015.0,mazda,cx-5,NaN,NaN,...,fwd,NaN,wagon,NaN,https://images.craigslist.org/00E0E_cXouPAAiq9...,2015 Mazda CX-5 Sport 4dr SUV 6A Offered b...,NaN,nc,35.7636,-78.7443
539755,7088752165,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,13995,2016.0,nissan,frontier,NaN,NaN,...,4wd,NaN,pickup,silver,https://images.craigslist.org/00R0R_2FiHQj8mDm...,2016 Nissan Frontier SV V6 4x4 4dr King Cab 6....,NaN,nc,35.7636,-78.7443
539756,7088749883,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10995,2010.0,bmw,335i,NaN,NaN,...,NaN,compact,coupe,black,https://images.craigslist.org/00v0v_3sp1G5hNhk...,2010 BMW 3 Series 335i 2dr Coupe Offered b...,NaN,nc,35.7636,-78.7443
539757,7088747986,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,6495,2015.0,dodge,dart,NaN,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00101_6orUUSDpdh...,2015 Dodge Dart SE 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
539758,7082122917,https://stcloud.craigslist.org/ctd/d/wadena-20...,st cloud,https://stcloud.craigslist.org,8990,2008.0,gmc,acadia,NaN,NaN,...,NaN,NaN,SUV,white,https://images.craigslist.org/00t0t_2ulWVUHDZW...,08 GMC Acadia all wheel drive four doorCall ☏ ...,NaN,mn,46.4500,-95.1247

In [12]:
final_df=new_df[['manufacturer','model','year','price','state','region','lat','long']]
final_df.head()

,manufacturer,model,year,price,state,region,lat,long
0,acura,tl,2012.0,10299,nc,greensboro,35.7636,-78.7443
2,jaguar,xf,2011.0,9500,nc,greensboro,36.1032,-79.8794
3,honda,element,2004.0,3995,nc,greensboro,35.7636,-78.7443
4,chevrolet,silverado k2500hd,2016.0,41988,ne,lincoln,41.1345,-96.2458
5,kia,sportage,2015.0,12995,nc,greensboro,35.7636,-78.7443

In [13]:
final_car=final_df.rename(columns={"manufacturer": "Manufacturer",
                            "model":"Model",
                            "year": "Year",
                            "price":"Craigslist Price",
                            "state": "State",
                            "region": "City",
                            "lat": "Lat", 
                            "long": "Long"})

final_car

,Manufacturer,Model,Year,Craigslist Price,State,City,Lat,Long
0,acura,tl,2012.0,10299,nc,greensboro,35.7636,-78.7443
2,jaguar,xf,2011.0,9500,nc,greensboro,36.1032,-79.8794
3,honda,element,2004.0,3995,nc,greensboro,35.7636,-78.7443
4,chevrolet,silverado k2500hd,2016.0,41988,ne,lincoln,41.1345,-96.2458
5,kia,sportage,2015.0,12995,nc,greensboro,35.7636,-78.7443
...,...,...,...,...,...,...,...,...
539753,mazda,cx-5,2015.0,12955,nc,greensboro,35.7636,-78.7443
539755,nissan,frontier,2016.0,13995,nc,greensboro,35.7636,-78.7443
539756,bmw,335i,2010.0,10995,nc,greensboro,35.7636,-78.7443
539757,dodge,dart,2015.0,6495,nc,greensboro,35.7636,-78.7443
539758,gmc,acadia,2008.0,8990,mn,st cloud,46.4500,-95.1247

In [21]:
final_car.to_datetime()

AttributeError: 'DataFrame' object has no attribute 'to_datetime'