In [1]:
import pandas as pd
import requests

In [9]:
r = requests.get("https://gasprices.aaa.com/state-gas-price-averages/", headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36"})
results=pd.read_html(r.text)
gas_table=results[0]
gas_table

                   State Regular Mid-Grade Premium  Diesel
0                 Alaska  $2.381    $2.474  $2.643  $2.366
1                Alabama  $1.763    $2.079  $2.409  $2.272
2               Arkansas  $1.765    $2.027  $2.317  $2.116
3                Arizona  $2.232    $2.509  $2.761  $2.500
4             California  $2.968    $3.143  $3.255  $3.280
5               Colorado  $2.260    $2.553  $2.815  $2.277
6            Connecticut  $2.040    $2.410  $2.641  $2.730
7   District of Columbia  $2.176    $2.693  $2.832  $2.842
8               Delaware  $1.986    $2.383  $2.572  $2.307
9                Florida  $1.995    $2.336  $2.620  $2.430
10               Georgia  $1.835    $2.140  $2.444  $2.488
11                Hawaii  $3.195    $3.396  $3.585  $4.020
12                  Iowa  $2.022    $2.120  $2.560  $2.158
13                 Idaho  $2.292    $2.465  $2.654  $2.333
14              Illinois  $2.301    $2.637  $3.029  $2.402
15               Indiana  $2.084    $2.384  $2.706  $2.507
16                Kansas  $1.839    $2.076  $2.309  $2.058
17              Kentucky  $1.973    $2.283  $2.595  $2.325
18             Louisiana  $1.733    $2.033  $2.338  $2.246
19         Massachusetts  $2.031    $2.386  $2.593  $2.627
20              Maryland  $2.093    $2.518  $2.728  $2.386
21                 Maine  $2.042    $2.369  $2.615  $2.527
22              Michigan  $2.081    $2.390  $2.719  $2.446
23             Minnesota  $1.994    $2.196  $2.510  $2.318
24              Missouri  $1.816    $2.045  $2.305  $2.006
25           Mississippi  $1.700    $1.985  $2.301  $2.112
26               Montana  $1.982    $2.201  $2.452  $2.165
27        North Carolina  $1.942    $2.257  $2.577  $2.421
28          North Dakota  $1.955    $2.147  $2.372  $2.051
29              Nebraska  $1.950    $2.041  $2.377  $2.155
30         New Hampshire  $2.008    $2.388  $2.638  $2.530
31            New Jersey  $2.077    $2.461  $2.654  $2.519
32            New Mexico  $1.956    $2.253  $2.494  $2.376
33                Nevada  $2.510    $2.708  $2.882  $2.586
34              New York  $2.214    $2.546  $2.771  $2.838
35                  Ohio  $2.031    $2.345  $2.675  $2.444
36              Oklahoma  $1.792    $2.020  $2.216  $1.982
37                Oregon  $2.525    $2.691  $2.862  $2.583
38          Pennsylvania  $2.302    $2.601  $2.878  $2.738
39          Rhode Island  $2.029    $2.411  $2.627  $2.700
40        South Carolina  $1.800    $2.124  $2.425  $2.269
41          South Dakota  $1.963    $2.045  $2.355  $2.151
42             Tennessee  $1.841    $2.155  $2.483  $2.315
43                 Texas  $1.775    $2.070  $2.354  $2.104
44                  Utah  $2.286    $2.450  $2.612  $2.303
45              Virginia  $1.839    $2.219  $2.510  $2.361
46               Vermont  $2.033    $2.396  $2.670  $2.498
47            Washington  $2.611    $2.817  $2.965  $2.689
48             Wisconsin  $2.024    $2.306  $2.704  $2.076
49         West Virginia  $2.016    $2.269  $2.561  $2.373
50               Wyoming  $2.026    $2.238  $2.471  $2.313